@font-face {
    font-family: Principal;
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Principal-Bold;
    src: url(/fonts/Roboto/Roboto-Black.ttf);
    font-weight: bold;
}
body{
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family:Principal;
}


.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#F2DEBA ;
    width:100%;
    height:auto;
}

.header h2{
    font-family: Principal;
    color:#0E5E6F;
    font-size:28px;
}

.header ul{
    display:flex;
    list-style-type:none;
    gap:20px;
}

.header a{
    text-decoration: none;
    color:#0E5E6F;
    font-size:20px;
}

.info{
    background-color:#F2DEBA;
    height:auto;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 24px;
}
.info-text h1{
    font-family: Principal-Bold;
    font-size:36px;
}
.info-text{
    max-width:350px;
    max-height:auto;
    color:#0E5E6F;
}

.info-image{
    max-width: 350px;
    max-height: auto;
}